hyperparameters:
  batch_size: 128
  epochs: 10
  log_interval: 10

model:
  type: "AE"
  embedding_size: 32

logger:
  results_path: "results/"

system:
  no_cuda: False
  seed: 42

dataset:
  name: "MNIST"
