train:
  batch_size: 128
  epochs: 10
  log_interval: 50
  lr: 1e-4
  kl_weight: 1e-5
  recon_weight: 0.1

model:
  type: "ECG_VAE"
  encoder_output_size: 256
  embedding_size: 64

results_path: "results/"
checkpoint_path: "checkpoints/"

system:
  device: "cuda:0"
  seed: 42

dataset:
  name: "ltafdb"

run_name: ${model.type}-${dataset.name}-${now:%Y-%m-%d-%H-%M}
